<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" *ngIf="post$ | async as post; else loading">
  <button routerLink="/" class="btn btn-link">На главную</button>
  <!-- We've used 3xl here, but feel free to try other max-widths based on your needs -->
  <div class="max-w-3xl mx-auto">
    <h1>
      <span
        class="block text-base text-center text-indigo-600 font-semibold tracking-wide uppercase">{{ post.author }}</span>
      <span
        class="mt-2 block text-3xl text-center leading-8 font-extrabold tracking-tight text-gray-900 sm:text-4xl">{{ post.title }}</span>
    </h1>
    <div>
      <quill-view-html [content]="post.text"></quill-view-html>
    </div>

    <div class="pb-20">
      <div class="relative">
        <div class="absolute inset-0 flex items-center" aria-hidden="true">
          <div class="w-full border-t border-gray-300"></div>
        </div>
        <div class="relative flex justify-center">
    <span class="px-2 bg-gray-50 text-sm text-gray-500">
      {{ post.date | date:'medium':null!:'ru' }}
    </span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <p class="text-center">Загружаю пост...</p>
</ng-template>

