<form
  [formGroup]="form" (ngSubmit)="submit()"
  class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6"
>
  <h2 class="text-lg leading-6 font-medium text-gray-900 mb-8">Создание нового поста</h2>

  <div class="mt-8 mb-8">
    <label for="title" class="block text-sm font-medium text-gray-700">Название поста</label>
    <div class="mt-1 relative rounded-md shadow-sm">
      <input type="text"
             name="title"
             id="title"
             formControlName="title"
             class="block w-full pr-10 focus:outline-none sm:text-sm rounded-md"
             placeholder="Укажите название" value="Новый пост" aria-invalid="true" aria-describedby="title-error">
    </div>
    <div class="validation" *ngIf="form.get('title').invalid && form.get('title').touched">
      <p
        class="mt-2 text-sm text-red-600"
        id="title-error"
        *ngIf="form.get('title').errors['required']"
      >Обязательное поле</p>
    </div>
  </div>

  <div class="mt-8 mb-8">
    <label class="block text-sm font-medium text-gray-700">Контент поста</label>
    <quill-editor
      formControlName="text"
    ></quill-editor>
  </div>

  <div class="mt-8 mb-8">
    <label for="title" class="block text-sm font-medium text-gray-700">Название поста</label>
    <div class="mt-1 relative rounded-md shadow-sm">
      <input type="text"
             name="author"
             id="author"
             formControlName="author"
             class="block w-full pr-10 focus:outline-none sm:text-sm rounded-md"
             placeholder="Укажите автора" aria-invalid="true" aria-describedby="author-error">
    </div>
    <div class="validation" *ngIf="form.get('author').invalid && form.get('author').touched">
      <p
        class="mt-2 text-sm text-red-600"
        id="author-error"
        *ngIf="form.get('author').errors['required']"
      >Обязательное поле</p>
    </div>
  </div>

  <button
    type="submit"
    class="inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
    [disabled]="form.invalid"
  >
    Создать пост
  </button>

</form>
