<a [routerLink]="['/post', post.id]">
  <div
    class="flex flex-col rounded-lg shadow-lg overflow-hidden cursor-pointer"

  >
    <div class="flex-shrink-0">
      <img class="h-48 w-full object-cover"
           src="https://images.unsplash.com/photo-1496128858413-b36217c2ce36?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1679&q=80"
           alt="">
    </div>
    <div class="flex-1 bg-white p-6 flex flex-col justify-between">
      <div class="flex-1">
        <p class="text-sm font-medium text-indigo-600">
          <a href="#" class="hover:underline">
            Article
          </a>
        </p>
        <a href="#" class="block mt-2">
          <p class="text-xl font-semibold text-gray-900">
            {{ post.title }}
          </p>
          <p class="mt-3 text-base text-gray-500">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Architecto accusantium praesentium eius, ut
            atque fuga culpa, similique sequi cum eos quis dolorum.
          </p>
        </a>
      </div>
      <div class="mt-6 flex items-center">
        <div class="flex-shrink-0">
          <a href="#">
            <span class="sr-only">{{ post.author }}</span>
            <img class="h-10 w-10 rounded-full"
                 src="https://lh3.googleusercontent.com/ogw/ADea4I4wNgOOCSugf9vh-tFH5kEOQauic0ymnjfOwG83gQ=s64-c-mo"
                 alt="">
          </a>
        </div>
        <div class="ml-3">
          <p class="text-sm font-medium text-gray-900">
            <a href="#" class="hover:underline">{{ post.author }}</a>
          </p>
          <div class="flex space-x-1 text-sm text-gray-500">
            <time datetime="2020-03-16">{{ post.date | date: 'dd.MM.yyyy' }}</time>
            <span aria-hidden="true">&middot;</span>
            <span>6 min read</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</a>
