<div class="modal-header" *ngIf="activeModal">
  <h4 class="text-lg leading-6 font-medium text-gray-900">Коротко о приложении</h4>
  <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">
  <ul role="list" class="list-disc pl-5 space-y-1 mb-8">
    <li>Angular 13.0.4</li>
    <li>
      UI: <a href="https://tailwindcss.com/" class="no-underline hover:underline">Tailwind CSS</a>
    </li>
    <li>Хостинг и БД: <a href="https://firebase.google.com/" class="no-underline hover:underline">Firebase</a></li>
    <li>Создание постов в админке</li>
    <li>Фильтрация списка постов</li>
    <li>Валидация форм</li>
    <li>Алерты</li>
  </ul>

  <p>Для авторизации в админке использовать:</p>
  <hr>
  <br>
  <p>email: <b>admin@test.ru</b></p>
  <p>password: <b>123456</b></p>

</div>
<div class="flex justify-center flex-column px-2 py-3">
  <button
    type="button"
    (click)="activeModal.dismiss('Clear')"
    class="inline-flex justify-center w-full rounded-md border border-transparent shadow-sm px-4 py-2 bg-indigo-600 text-base font-medium text-white hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:text-sm">
    Понятно
  </button>
  <a href="https://bitbucket.org/yurifedorov-training/angular-blog/src/master/"
     class="no-underline hover:underline block text-center pt-1 text-sm">смотреть репозиторий</a>
</div>

