<nav class="bg-white shadow">
  <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16">
      <div class="flex">
        <div class="flex-shrink-0 flex items-center">
          <img
            class="block h-8 w-auto"
            src="https://angular.io/assets/images/logos/angular/angular.svg"
            alt="Workflow"
            data-test-id="logo"
          >
        </div>
      </div>
      <div class="flex items-center">
        <h2
          class="text-1xl tracking-tight font-extrabold text-gray-900"
          routerLink="/"
          data-test-id="product-name"
        >
          Angular Blog
        </h2>
      </div>
      <div class="flex items-center">
        <div class="flex-shrink-0">
          <button
            routerLink="/admin"
            type="button"
            data-test-id="sign-in-btn"
            class="inline-flex items-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            Войти
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
