.navbar-main {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #888888;
}

.main-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  img {
    width: 50px;
    margin-right: 20px;
  }

  span {
    width: 200px;
    font-size: 1.5rem;
  }
}

.tw-blue-btn {
  // apply group style
  @apply py-2 px-3 m-2;
  @apply bg-blue-500 hover:bg-blue-700;
  @apply rounded-md;
  @apply text-white;
}
