.alert-wrap {
  position: fixed;
  top: 100px;
  right: 40px;
  max-width: 200px;
  background-color: rgba(0, 188, 0, 0.6);
  color: #fff;
  border-radius: 6px;
  z-index: 999;
}

.alert {
  padding: 0.5rem 1rem;
}
