<div class="min-h-full flex items-center justify-center py-12 px-4 sm:px-6 lg:px-8">
  <div
    class="max-w-md w-full space-y-8"
    data-test-id="auth-form"
  >
    <div>
      <a routerLink="/">
        <img
          class="mx-auto h-12"
          src="https://angular.io/assets/images/logos/angular/angular.svg"
          alt="Workflow"
          data-test-id="logo"
        >
      </a>
      <h2
        class="mt-6 text-center text-3xl font-extrabold text-gray-900"
        data-test-id="auth-form-title"
      >
        Авторизация
      </h2>
      <p
        class="mt-2 text-center text-sm text-gray-600"
        data-test-id="auth-form-subtitle"
      >
        Войдите в панель администратора
      </p>
    </div>

    <div class="rounded-md bg-red-50 p-4" *ngIf="auth.error$ | async as error">
      <div class="flex">
        <div class="flex-shrink-0">
          <svg class="h-5 w-5 text-red-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor"
               aria-hidden="true">
            <path fill-rule="evenodd"
                  d="M10 18a8 8 0 100-16 8 8 0 000 16zM8.707 7.293a1 1 0 00-1.414 1.414L8.586 10l-1.293 1.293a1 1 0 101.414 1.414L10 11.414l1.293 1.293a1 1 0 001.414-1.414L11.414 10l1.293-1.293a1 1 0 00-1.414-1.414L10 8.586 8.707 7.293z"
                  clip-rule="evenodd" />
          </svg>
        </div>
        <div class="ml-3">
          <div class="text-sm text-red-700">
            {{ error }}
          </div>
        </div>
      </div>
    </div>

    <div class="alert alert-info" *ngIf="message">
      {{ message }}
    </div>

    <form class="space-y-6" [formGroup]="form" (ngSubmit)="submit()">
      <input type="hidden" name="remember" value="true">
      <div class="card rounded-md shadow-sm -space-y-px px-3 pt-3">
        <div>
          <label for="email-address" class="sr-only">Email address</label>
          <input
            formControlName="email"
            id="email-address"
            name="email"
            type="email"
            autocomplete="email"
            data-test-id="auth-form-email"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Email">
          <div class="validation text-danger">
            <div *ngIf="form.get('email').invalid && form.get('email').touched">
              <small *ngIf="form.get('email').errors['required']">Поле email не может быть пустым</small>
              <small *ngIf="form.get('email').errors['email']">Введите корректный email</small>
            </div>
          </div>
        </div>
        <div>
          <label for="password" class="sr-only">Password</label>
          <input
            formControlName="password"
            id="password"
            name="password"
            type="password"
            autocomplete="current-password"
            data-test-id="auth-form-password"
            required
            class="appearance-none rounded-none relative block w-full px-3 py-2 border border-gray-300 placeholder-gray-500 text-gray-900 rounded focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 focus:z-10 sm:text-sm"
            placeholder="Пароль">
          <div class="validation text-danger">
            <div *ngIf="form.get('password').invalid && form.get('password').touched">
              <small *ngIf="form.get('password').errors['required']">Пароль не может быть пустым</small>
              <small *ngIf="form.get('password').errors['minlength']">
                Длинна должна быть не менее {{form.get('password').errors['minlength']['requiredLength']}}
                Сейчас количество символов {{form.get('password').errors['minlength']['actualLength']}}
              </small>
            </div>
          </div>
        </div>

        <div class="pb-3">
          <button type="submit"
                  data-test-id="auth-form-submit"
                  class="items-center w-full px-4 py-2 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
                  [disabled]="form.invalid || submitted"
          >
            Войти
          </button>
        </div>
      </div>

    </form>
  </div>
</div>
