<div class="flex justify-center">
  <button
    (click)="openModal()"
    type="button"
    class="inline-flex items-center px-6 py-3 border border-transparent text-base font-medium rounded-md shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
    Коротко о приложении
  </button>
</div>

<div class="relative bg-gray-50 pt-0 pb-20 px-4">
  <div class="relative max-w-7xl mx-auto">
    <div class="mt-12 max-w-lg mx-auto grid gap-5 lg:grid-cols-3 lg:max-w-none"
         *ngIf="posts$ | async as posts; else loading">
      <app-post
        *ngFor="let post of posts"
        [post]="post"
      ></app-post>
    </div>
  </div>
</div>

<ng-template #loading>
  <p class="text-center">Загрузка постов...</p>
</ng-template>
