.tw-blue-btn {
  // apply group style
  @apply py-2 px-3 m-2;
  @apply bg-blue-500 hover:bg-blue-700;
  @apply rounded-md;
  @apply text-white;
}

.navbar-admin {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 2rem;
  border-bottom: 1px solid #888888;
  margin-bottom: 80px;
}

.user-menu {
  z-index: 999;
}
